<!DOCTYPE html>
<html lang="de">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="#" />
    <!--home-scripts-->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--calendar-scripts-->
    
    <!--script-import-END-->
    <title>Login</title>
    <link rel="stylesheet" href="main.css" />
  </head>

  <body>
    <!--HOME-START-->
    <div id="home">
      <div class="sidenav">
        <div class="login-main-text">
          <h2>
            Reservierungstool<br />
            Login
          </h2>
          <p>Anmelden oder eine Accountanfrage versenden.</p>
        </div>
      </div>
      <div class="main">
        <div class="col-md-6 col-sm-12">
          <div class="login-form">
            <form class="form" id="login">
              <div id=login_message class="form__message form__message--error"></div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  id="u_email"
                  autofocus
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Passwort"
                  id="u_password"
                  autofocus
                  required
                />
              </div>
              <div class="d-flex justify-content-left">
                <a class="form-link" href="./" id="linkRequestAccount"
                  >Noch keinen Account?</a
                >
              </div>
              <button type="submit" class="btn btn-info">Login</button>
            </form>
          </div>
        </div>
      </div>

      <div class="main">
        <div class="col-md-6 col-sm-12">
          <div class="register-form">
            <form class="form form--hidden" id="requestAccount">
              <div id=accreq_message class="form__message form__message--error"></div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="a_name"
                  placeholder="Name"
                  autofocus
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  id="a_email"
                  autofocus
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="tel"
                  class="form-control"
                  placeholder="Mobile"
                  id="a_mobile"
                  autofocus
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Passwort"
                  id="a_password"
                  autofocus
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Passwort wiederholen"
                  id="a_password_repeat"
                  autofocus
                  required
                />
              </div>
              <div class="d-flex justify-content-left">
                <a class="form-link" href="./" id="linkLogin"
                  >Im Besitz eines Accounts?</a
                >
              </div>
              <button type="submit" class="btn btn-info">Account Anfragen</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--HOME-END-->
    <!--CALENDAR-START-->
    <div id="calendar" hidden>
      <div class="row">
        <div align="center" id="title_container" class="col-sm-12">
          <h1>Buchungskalender</h1>
          <p id = "nameUser"></p>
        </div>
      </div>
      <div id="calendar_container" class="row">
        <nav class="col-sm-12" id="table_navigation_bar">
          <button class="btn btn-secondary btn-lm" id="button_userlist" hidden>
            Userliste</button
          >
          <button class="btn btn-secondary btn-lm" id="button_accreqlist" hidden>
            Accountanfragenliste</button
          >
          <button class="btn btn-secondary btn-lm" id="userdetailbtn">
            Userangaben Ändern
          </button>
          <button class="btn btn-secondary btn-lm" id="logoutbtn">
            Logout
          </button>
        </nav>
        </div>
        <!--BOOKING_TABLE - START-->
        <div class="row">
          <div class="booking-container" id="booking_table">
            <table id="booking-table" cellspacing="0"></table>
            <div class="pagination" id="previous">Vorherige Woche</div>
            <div class="pagination" id="next">Nächste Woche</div>
          </div>
        </div>
        <!-- Start eingabe für Reservatîonen-->
        <div class="booking-container" id="booking_form" hidden>
          <h1 id="booking-label">Reservationsangaben</h1>
          <h3 id="currentReservationLbl"></h3>
          <form id="confirmBookingform">
            <div id=reservation_message class="form__message form__message--error"></div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="playernames"
              placeholder="Spielernamen"
              autofocus
              required
            />
            <button class="btn btn-secondary btn-lm" type="submit">Reservieren</button>
            <button class="btn btn-secondary btn-lm" id="backToBookingTblBtn">Zurück</button>
          </div>
        </form>
          
        </div>

        <!-- Ende eingabe für Reservatîonen-->
        <!--BOOKING_TABLE - ENDE-->
      </div>
    </div>
    <!--CALENDAR-END-->
    <!--USERLIST-START-->
    <div id="userlist" hidden="true">
      <h1>Userliste</h1>
      <button class="btn btn-secondary btn-lm" id="userlistreturnbtn">Zurück</button>
    <!--
           Filter : <input type = "text" id = "inpUserList"/>
           <button onClick = "javascript:applyFilter()"> Filter anweden </button>
           -->
           <form id="userlist_form">
            <div id=user_message class="form__message form__message--error"></div>
           </form>
      <table class="table table-striped" id="tblUserList">
         <thead>
          <tr class>
             <th scope="col">#</th>
             <th scope="col">Name</th>
             <th scope="col">E-Mail</th>
             <th scope="col">Mobile</th>
             <th scope="col">Rolle</th>
             <th scope="col">Aktion</th>
          </tr>
         </thead>
      <tbody>
     
      </tbody>
      </table>
     </div>
    <!--USERLIST-END-->
    <!--ACCREQLIST-START-->
    <div id="accreqlist" hidden="true">
      <h1>Accountanfragenliste</h1>
      <button class="btn btn-secondary btn-lm" id="accreqreturnbtn">Zurück</button>
    <!--
        Filter : <input type = "text" id = "inpAcc"/>
        <button onClick = "javascript:applyFilterAcc()"> Filter anweden </button>
        -->
        <form id="accreqlist_form">
          <div id=accreq_message class="form__message form__message--error"></div>
         </form>
   <table class="table table-striped" id="tblAccList">
      <thead>
       <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">E-Mail</th>
          <th scope="col">Mobile</th>
          <th scope="col">Aktion 1</th>
          <th scope="col">Aktion 2</th>
       </tr>
      </thead>
   <tbody>
  
   </tbody>
   </table>
  </div>


    </div>
    <!--ACCREQLIST-END-->
     <!--userdetail start required ev entfernen und aktuelle daten anzeigen lassen--->
     <div id="userdetail" hidden>
       <h1>Accountdaten Ändern</h1>
       <form id="userdetailform">
        <div id=detail_message class="form__message form__message--error"></div>

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="detail_name"
            placeholder="Name"
            autofocus
            required
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            id="detail_email"
            autofocus
            required
          />
        </div>
        <div class="form-group">
          <input
            type="tel"
            class="form-control"
            placeholder="Mobile"
            id="detail_mobile"
            autofocus
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Passwort"
            id="detail_password"
            autofocus
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Passwort wiederholen"
            id="detail_password_repeat"
            autofocus
            required
          />
        </div>

        <button class="btn btn-secondary btn-lm" type="submit">Änderungen Speichern</button>
      </form>
     <button class="btn btn-secondary btn-lm" id="userdetailreturnbtn">Zurück</button>
     </div>
     
      <!--userdetail-END-->
      <!--Reservation bearbeiten/löschen-start-->
<div id="reservationdetail" hidden>
  <h1>Reservationsdetails</h1>
  <h3 id="currentReservationLbl2"></h3>
  <form id="resDetailform">
    <div id=resdetail_message class="form__message form__message--error"></div>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="playernames_detail"
        placeholder="Playername"
        autofocus
        required
      />
    </div>
    <button type="submit" class="btn btn-secondary btn-lm">Reservation Ändern</button>
      </form>
  <button id="btndeleteRes" class="btn btn-secondary btn-lm">Reservation Löschen</button> <br>
  <button id="returnbtndeleteRes" class="btn btn-secondary btn-lm">Zurück</button>


</div>
      <!--Reservation bearbeiten/löschen-end-->

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script src="main.js"></script>
  </body>
</html>
